<div class="app-container">
  <h1>{{ title }}</h1>

  <!-- Search Bar -->
  <div class="search-bar">
    <input
      type="text"
      [(ngModel)]="searchText"
      placeholder="Search..."
    /><!-- (keyup)="onSearch()"-->
  </div>
  <button class="custom-button" (click)="onSearch()">搜尋</button>

  <!-- Search Results -->
  <div class="search-results" *ngIf="searchResults$ | async as results">
    <!-- 表格 -->
    <table>
      <!-- 表頭 -->
      <thead>
        <tr>
          <th>Cover Image</th>
          <th>Title</th>
          <th>Author</th>
        </tr>
      </thead>

      <!-- 資料列 -->
      <tbody>
        <tr *ngFor="let doc of results.docs">
          <td>
            <img [src]="'https://covers.openlibrary.org/a/olid/'+  doc.author_key[0] +'-M.jpg'" alt="{{doc.title}}" width="100"> <!--  {{ doc.author_key[0] }}-->
          </td>
          <td>{{ doc.title }}</td>
          <td>{{ doc.author_name ? doc.author_name[0] : 'N/A' }}</td>
        </tr>
      </tbody>
    </table>

    <!-- 分頁 -->
    <div class="pagination">
      <button (click)="onPageChange('previous')" [disabled]="pageIndex <= 0">
        Previous
      </button>
      <span>Page {{ pageIndex + 1 }}</span>
      <button (click)="onPageChange('next')" [disabled]="results.docs?.length < pageSize"><!--[disabled]="pageIndex >= (results?.length / pageSize)"-->
        Next
      </button>
    </div>
  </div>


  <!-- Page Size Selector -->
  <div class="page-size">
    <label for="pageSize">Results per page:</label>
    <select id="pageSize" [(ngModel)]="pageSize" (change)="onPageSizeChange(pageSize)">
      <option *ngFor="let size of [10, 20, 30]" [value]="size">{{ size }}</option>
    </select>
  </div>
</div>


<router-outlet />
